.toolbar {
  height: 50px;
  background-color: #16222a;
}

.section {
  text-align: center;
  height: 30px;
  background-color: cornflowerblue;
  color: #fff;
}

.size {
  width: 1200px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
}

img {
  height: 200px;
  width: 200px;
}
.buttonclass {
  background-color: rgb(209, 17, 17);
}

.category {
  width: 250px;
  margin-left: 2em
}
